.footer{
    position: absolute;
    bottom: 0px;
    height: 178px;
    /*box-shadow: 0 1px 5px #eee;*/
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
    z-index: 2; 
   
}
.footerTop{
 padding: 10px 120px 10px 10px;
 height: 98px;
}
.footerBom{
    display: flex;
    flex-direction: row;
    padding: 10px;
     height: 80px;
}
.footerBom ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footerBom ul li{
    width: 25%;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
.footerBom ul li input{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.footerBom ul li p{
    font-size: 28px;
    text-align: center;
    color: #000;
}
.input{
    height: 78px;
    border:1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 30px;
    padding: 0 30px;
}
.textArea{
    padding: 0px;
    min-height: 78px;
}
.btn{
    height: 76px;
    position: absolute;
    right: 10px;
    top: 11px;
    line-height: 76px;
    width: 102px;
    padding: 0 20px;
}