*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, :global(#root) {
  height: 100%;
  font-size: 14px;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
:global(li){
  list-style: none;
}
/*#root{
  position:absolute;
  width: 100%;
  height: 100%;
}*/
